mkdocs
mkdocs-material
mkdocs-material-extensions
mkdocs-glightbox
mkdocs-exclude
mkdocs-gallery
mkdocs-awesome-pages-plugin
mknotebooks
pymdown-extensions
pygments
jupytext
mkdocs-jupyter
mkdocs-roamlinks-plugin
mkdocs-ezlinks-plugin
mkdocs-simple-hooks
mkdocs-git-revision-date-localized-plugin
jieba
pillow
cairosvg