.sidenav {
  width:25%;
  position:fixed;
  top:14%;
  left:8%;
  background:inherit;
  overflow-x:auto;
  overflow:auto;
  padding:8px 0;
  height:80%;
  border:outset;
  border-width:5px;
  border-color:rgb(255,0,0);
}

.sidenav a {
  padding:6px 8px 6px 16px;
  text-decoration:none;
  font-size:20px;
  color:#2196F3;
  display:block;
  overflow:auto;
}

.sidenav a:hover {
  color:#064579;
}

@media (max-width: 992px) {
  .sidenav {
    padding:5px 0px;
    width:23%;
  }
}

@media (max-width: 850px) {
  .sidenav {
    display:none;
  }
}

@media screen and (max-height: 450px) {
  .sidenav {
    padding-top:15px;
  }
}

@media screen and (max-height: 450px) {
  .sidenav a {
    font-size:18px;
  }
}

